#gallery {
    margin-right: auto;
    margin-left: auto;
}

#main-container {
    padding: 20px;
}

@media (min-width: 768px) {
    #main-container {
        max-width: 80%;
    }

    #add-root-directory input[name='path'] {
        width: 500px;
    }
}

#main-container {
    margin-top: 50px;
}

.glyphicon {
    margin-left: 2px;
    margin-right: 2px;
}