meta(name="viewport", content="width=device-width, initial-scale=1.0")

// build:js js/lib.js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/angular/angular.js')
script(src='bower/bootstrap/dist/js/bootstrap.js')
script(src='bower/angular-utils-pagination/dirPagination.js')
// endbuild

// build:js js/app.js
// AngularJS controllers
script(src='js/application.js')
// endbuild

// build:css css/style.css
link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='css/style.css')
// endbuild