include macro/bootstrap
include macro/common

doctype html
html(ng-app='imageBrowser')
    head
        base(href='/')
        title ImageBrowser
        include _static_includes

    body: div(ng-controller='imageBrowserCtrl')
        +navbar('ImageBrowser')
            +navbar-left
                +navbar-tab('folders', 'Navigation')(active = true, icon = 'folder-open')
                +navbar-tab('images', 'Images')(icon = 'picture', li_attributes = {'ng-show': 'images.length > 0'})

        .container#main-container: .row: .col-md-12
            +tab-content-container('navbar')
                +tab-content('folders')(active = true)
                    include index/folders

                +tab-content('images')(attributes = {'ng-show': 'images.length > 0'})
                    include index/images