include macro/bootstrap
include macro/common

doctype html
html(ng-app='imageBrowser')
    head
        base(href='/')
        title ImageBrowser
        include _static_includes

    body: .container#main-container(ng-controller='imageBrowserCtrl')
        .row#directory-panel: .col-md-12
            include index/directory_panel

        .row#gallery-panel(ng-show='images.length > 0'): .col-md-12
            include index/gallery_panel